extends layout


block content
  include navigation
  include left-column
  include right-column
  != css('style-add')
  != js('add-dish')


  #center-column
    h2 Добавить рецепт
    div 
      | Вы можете добавить рецепт Вашего блюда на наш сайт. Если блюдо относится к блюдам других стран, укажите это в тексте письма. Если нет, то блюдо добавится в русскую кухню. На добаленом блюде будет указан тот, кто его добавил. Все замечания по рецепту, так же укажите в тексте письма.
    //Если рецептов от одного пользователя будет больше 10, то все рецепты ререйдут в раздел "Рецепты от пользователей"
    br
    h4 Контактная информация
    table

      if(user)
        tr
          td Введите ваше имя
          td
            input#Fname(type="text", value="#{user.firstName}", disabled="disabled")
        tr
          td Введите вашу фаммилию
          td
            input#Lname(type="text", value="#{user.lastName}", disabled="disabled")
        tr
          td Введите ваш email
          td
            input#email(type="text", value="#{user.email}", disabled="disabled")
      else
        tr
          td Введите ваше имя
          td
            input#Fname(type="text")
        tr
          td Введите вашу фаммилию
          td
            input#Lname(type="text")
        tr
          td Введите ваш email
          td
            input#email(type="text")
    h4 Напишите свой рецепт
    textarea#recept
    br
    div#img-cont
      h4 Добавье фотографии к вашему блюду
      div (*превью картинок могут немного искажаться. Идеальные картинки - квадратные)
      #im-cont-title
        div
          b Выберите главную картинку блюда
        div.small-cont
          input#pic-title(type="file")
          img#title-prev.prev(src="http://i.imgur.com/AeUEdJb.png")
          img#del-img-title.del(src="/img/close.png")
      #im-cont-step
        div
          b Выберите картинки шагов приготовления блюда
        div.small-cont
          input.step-inp#step-inp-0(type="file")
          img.step-img#step-img-0(src="http://i.imgur.com/AeUEdJb.png")
          img#del-step-0.del.del-step(src="/img/close.png")

    a#sendMail Отослать рецепт
    br
    br
    div *рецепт проверется администратором, и появится на сайте в течение 24 часов
  script#stepTemplate(type="text/template")
    div.small-cont
      input.step-inp(type="file",id!="step-inp-<%=number%>")
      img.step-img(id!="step-img-<%=number%>",src="http://i.imgur.com/AeUEdJb.png")
      img.del.del-step(src="/img/close.png", id !="del-step-<%=number%>")

