!= css('style-footer')
div#footer-cont
  #mail-logo
    a(href='http://top.mail.ru/jump?from=2499575')
      img(src='//top-fwz1.mail.ru/counter?id=2499575;t=479;l=1', style='border: 0;', height='31', width='88', alt='Рейтинг@Mail.ru')
  #link-cont
    a(href="/site_map") На карту сайта
