extends layout


block content
  != js('pm')
  != css('style-search')
  .container
    include navigation
    form#pm-container
      #pm-header
        input#pm-dish-input(type="text",name="test")
        lable Введите название блюда
        select#selectKitchen
          option Русская
          option Новая русская
        lable Тип кухни
        #pm-species
          input(type="checkbox", name="Закуски")
          lable Закуски
          input(type="checkbox", name="Салаты")
          lable Салаты
          input(type="checkbox", name="Супы")
          lable Супы
          input(type="checkbox", name="Вторые блюда")
          lable Вторые блюда
          input(type="checkbox", name="Выпечка")
          lable Выпечка
          input(type="checkbox", name="Десерты")
          lable Десерты
          input(type="checkbox", name="Напитки")
          lable Напитки
      #pm-body
        #pm-ing-container
          h5 Ингридиенты
          ul#pm-ing-ul
            li 
              span.pm-ing test ing1
              div.del-ing x
            li
              span.pm-ing test ing2
              div.del-ing x
        #pm-ing-input-cont
          input#pm-dish-ing(type="text")
          button#add-ing Добавить ингридиент
        #pm-more-options
          table
            tr
              td(width="265px",height="30px")
                input#time-cooke(type="number")
                span Веремя приготовления
              td(height="30px")
                span Популярность
                input#rating(type="number")
            tr
              td(height="30px")
                input#complexity(type="number")
                span Сложность
              td(height="30px")
                span Цена
                input#cost(style="float:right")(type="number")
            tr
              td(height="30px")
                input#kremling_diet(type="number")
                span Кремлевская диета
      button#start-search-btn Начать поиск

//script#sMContTemplate(type="text/template")

        
       
    
