extends layout


block content
  != js("libs/turn")
  != js('kitchen')
  != css('style-kitchen')
  include navigation
  include left-column
  include right-column

  #center-column
    h2 #{temp}
    #first_course
      h3.lable-kitch
        | Первые блюда
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #main_dishes
      h3.lable-kitch
        | Вторые блюда
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #snack
      h3.lable-kitch
        | Закуски
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #salad
      h3.lable-kitch
        | Салаты
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #dessert
      h3.lable-kitch
        | Десерты
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #bake
      h3.lable-kitch
        | Выпечка
        span.showAll.zoom-clases
          | показать все
      .dishBook
    #drinks
      h3.lable-kitch
        | Напитки
        span.showAll.zoom-clases
          | показать все
      .dishBook

