extends layout


block content
  script(data-main='/js/libs/config_requre/config', src='../js/libs/requre.js')
  != js('pm')
  != css('style-search')
  include navigation
  include left-column
  include right-column
  
  #center-column
    h2 #{temp}
  
