doctype 5
html
	head
		title= title
		!= css('style-layout')
		!= css('bootstrap.min')
		!= css('jquery-ui')
		!= js('libs/jquery-2.0.3.min')
		!= js('libs/bootstrap.min')
		!= js('libs/parsley')
		!= js('libs/underscore-min')
		!= js("libs/backbone-min")
		!= js("libs/jquery-ui")
	body
		.container-my
			block content
		
		
				
