doctype 5
html
	head
		title= title
		!= css('style')
		!= css('bootstrap.min')
		!= css('jquery-ui')
		!= js('libs/jquery-2.0.3.min')
		!= js('libs/bootstrap.min')
		!= js('libs/parsley')
		!= js('libs/underscore-min')
		!= js("libs/backbone-min")
		!= js("libs/jquery-ui")
		script(data-main='/js/libs/config_requre/config', src='js/libs/requre.js')
	body
		block content
