doctype 5
html
	head
		meta(http-equiv="X-UA-Compatible")
		meta(name="viewport",content="width=device-width")
		meta(name="description", content=description)
		meta(name="keywords", content=metaKey)
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="yandex-verification", content="52a89e92ed971130")
		meta(name="google-site-verification", content="YME6VsVXxPKSRHJTGOKgeUCk-Bdme1PT1b7b7Aqf4WU")
		
		//link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
		title= title
		!= css('style-layout')
		!= css('lib/bootstrap.min')
		!= css('lib/jquery-ui')
		!= js('libs/jquery-2.0.3.min')
		!= js('libs/bootstrap.min')
		!= js('libs/parsley')
		!= js('libs/underscore-min')
		!= js("libs/backbone-min")
		!= js("libs/jquery-ui")
	body
		include book-dish
		#global-header
		.container-my
			block content
		
		include footer
		
				
