doctype 5
html
	head
		meta(http-equiv="X-UA-Compatible")
		meta(name="viewport",content="width=device-width")
		meta(name="description", content=description)
		meta(name="keywords", content=metaKey)
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title= title
		!= css('style-layout')
		!= css('lib/bootstrap.min')
		!= css('lib/jquery-ui')
		!= js('libs/jquery-2.0.3.min')
		!= js('libs/bootstrap.min')
		!= js('libs/parsley')
		!= js('libs/underscore-min')
		!= js("libs/backbone-min")
		!= js("libs/jquery-ui")
	body
		include book-dish
		#global-header
		.container-my
			block content
		
		include footer
		
				
