#left-column
  |LEFT
  ul
    li Итальянская
    li Грузинская
    li Французкая
    li Китайская
    li Армянская
    li Украинская
    li Японская
    li Узбекская
    li Индийская
    li Азербайджанская
    li Мексиканская
    li Греческая
    li Тайская
    li Еврейская
    li Турецкая
    li Немецкая
    li Балканская
    li Испанская
    li Корейская
    li Молдавская
    li Татарская
    li Белорусская
    li Вьетнамская
    li Арабская
    li Восточноевропейская
    li Скандинавская
    li Прибалтийская
    li Латиноамериканская
    li Малазийская
    li Британская

