!= js('nav-bar')

#headerbg
	#login-cont-button
		if user
			span#login-user-txt #{user.firstName}&nbsp#{user.lastName} &nbsp
			a(href="/logout") Logout
		else
			a#login-button.regist-log-button(href="#") Войти
			a#sing-up-button.regist-log-button(href="/register") Зарегистрироваться
			
	#headerblank
		#header
			div
				ul
					if (loc=='searchIng')
						li
							a.active-menu-item(href="/search/ing") Поиск по ингридиентам
					else
						li
							a(href="/search/ing") Поиск по ингридиентам

					if (loc=='randomDish')
						li
							a.active-menu-item(href="/random_dish") Случайный рецепт
					else
						li
							a(href="/random_dish") Случайный рецепт
					if (loc=='addDish')
						li
							a.active-menu-item(href="/addDish") Добавить рецепт
					else
						li
							a(href="/addDish") Добавить рецепт
					if (loc=='newsCookery')
						li
							a.active-menu-item(href="/news") Кулинарные новости
					else
						li
							a(href="/news") Кулинарные новости
			#login-blok
				#logintxtblank
					#close-login 
						b x
					#loginheading
						h4 User Login
					#username User Name:
					#input-email
						label
							input#textfield.input-new-sty(name='textfield', type='text', value='enter your user name')
					#password Password:
					#input02
						label
							input#textfield2.input-new-sty(name='textfield2', type='password', value='password')
					#loginbutton
						a.login(href='#') Войти
					#member Not yet a Member? 
					#register
						a.register(href='/register') Register Now

							
							
				//form(role='search')
					div
						input#nav-dish-input.form-control(type='text', placeholder='Search')
						button(type='submit') ОК



