.navbar.navbar-inverse
	a.navbar-brand(href="/") Мировая кухня
	ul.nav.navbar-nav
		if (loc=='searchIng')
			li.active
				a(href="/search/ing") Поиск по ингридиентам
		else
			li
				a(href="/search/ing") Поиск по ингридиентам
		if user
		if (loc=='searchCategory')
			li.active
				a(href="/search/category") Поиск по категориям
		else
			li
				a(href="/search/category") Поиск по категориям
		if (loc=='randomDish')
			li.active
				a(href="/reandom_dish") Случайный рецепт
		else
			li
				a(href="/reandom_dish") Случайный рецепт
		if (loc=='newsCookery')
			li.active
				a(href="/news") Кулинарные новости
		else
			li
				a(href="/news") Кулинарные новости



	ul.nav.navbar-nav.pull-right
		li.dropdown
			a.dropdown-toggle(href="#",  data-toggle="dropdown") Hello, &nbsp;
				= user && user.firstName || 'Guest'
				&nbsp;
				b.caret
			ul.dropdown-menu
				if user
					li
						a(href="#") Account
					li
						a(href="/logout") Logout
				else
					li
						a(href="/login") Sign In
					li
						a(href="/register") Sign Up

