#right-column
  .column-header Выберите категорию
  #zoom-clases-species.zoom-clases.hover-true-species
  #ul-cont-species
    ul#ul-species.hover-true-species
      - var i = 1
      - each item in species
          li.hover-true-species.li-species(class=item.class, number=i, id="li-item-"+item.key, idFind = "li-item-"+item.key)
              a.hover-true-species(href="/species/type/"+item.key, class=item.class, number=i, id="li-item-"+item.key, idFind = "li-item-"+item.key)= item.name
              - i = i+1
  
//    li
//      a(href="/kitchen/"+key+"/first_course") Первые блюда
//    li
//      a(href="/kitchen/"+key+"/main_dishes") Вторые блюда
//    li
//      a(href="/kitchen/"+key+"/salad") Салаты
//    li
//      a(href="/kitchen/"+key+"/dessert") Десерты
//    li
//      a(href="/kitchen/"+key+"/bake") Выпечка
//    li
//      a(href="/kitchen/"+key+"/drinks") Напитки
//      

