#right-column
  ul
    li
      a(href="/dish/"+kitchen+"/first_course") Первые блюда
    li
      a(href="/dish/"+kitchen+"/main_dishes") Вторые блюда
    li
      a(href="/dish/"+kitchen+"/salad") Салаты
    li
      a(href="/dish/"+kitchen+"/dessert") Десерты
    li
      a(href="/dish/"+kitchen+"/bake") Выпечка
    li
      a(href="/dish/"+kitchen+"/drinks") Напитки
      
