extends layout


block content
  //script(data-main='/js/libs/config_requre/config', src='../js/libs/requre.js')
  //!= js('pm')
  != css('style-cooler')
  include navigation
  include left-column
  include right-column
  #center-column
    #cooler-container
      img#holodilnik(src="/img/cooler/holodilnik.png")
      img#polki(src="/img/cooler/polki.png")
      img#dobavki(src="/img/cooler/dobavki.png")
      img#maso(src="/img/cooler/maso.png")
      img#krupa_oreh(src="/img/cooler/krupa_oreh.png")
      img#gribi(src="/img/cooler/gribi.png")
      img#frukti(src="/img/cooler/frukti.png")
      img#molochnie(src="/img/cooler/molochnie.png")
      img#moreprodukti(src="/img/cooler/moreprodukti.png")
      img#muchnie(src="/img/cooler/muchnie.png")
      img#ovochi(src="/img/cooler/ovochi.png")
//script#sMContTemplate(type="text/template")

      
     
  
