extends layout


block content
  != css('style-species')
  != js('species')
  include navigation
  include left-column
  include right-column

  #center-column
    input#server-data.hide(type="text" ,keyKitchen=key, keySpecies = keySpecies)
    h3
      span#header-species
      span &nbsp > &nbsp
      span#header-kitchen
      span &nbspкухня
    #img-cont
      div#arab
        img(src="/img/flags/arab.gif")
        div Арабская
      div#armenia
        img(src="/img/flags/armenia.gif")
        div Армянская
      div#azerbaijan
        img(src="/img/flags/azerbaijan.gif")
        div Азербайджанская
      div#balkan
        img(src="/img/flags/balkan.gif")
        div Балканская
      div#baltik
        img(src="/img/flags/baltic.gif")
        div Прибалтийская
      div#belarusian
        img(src="/img/flags/belarusian.gif")
        div Белорусская
      div#british
        img(src="/img/flags/british.gif")
        div Британская
      div#china
        img(src="/img/flags/china.gif")
        div Китайская
      div#east_european
        img(src="/img/flags/east_european.gif")
        div#vostch-evr Восточноевропейская
      div#franch
        img(src="/img/flags/franch.gif")
        div Французкая
      div#russian
        img(src="/img/flags/russian.gif")
        div Русская
//      img#georgia(src="/img/flags/georgia.gif")
//      img#german(src="/img/flags/german.gif")
//      img#greek(src="/img/flags/greek.gif")
//      img#indian(src="/img/flags/indian.gif")
//      img#italy(src="/img/flags/italy.gif")
//      img#japan(src="/img/flags/japan.gif")
//      img#jewish(src="/img/flags/jewish.gif")
//      img#korean(src="/img/flags/korean.gif")
//      img#latin(src="/img/flags/latin.gif")
//      img#malaysian(src="/img/flags/malaysian.gif")
//      img#mexican(src="/img/flags/mexican.gif")
//      img#moldova(src="/img/flags/moldova.gif")
//      img#scandinavian(src="/img/flags/scandinavian.gif")
//      img#spanish(src="/img/flags/spanish.gif")
//      img#tatar(src="/img/flags/tatar.gif")
//      img#thai(src="/img/flags/thai.gif")
//      img#turkish(src="/img/flags/turkish.gif")
//      img#ukrainian(src="/img/flags/ukrainian.gif")
//      img#uzbek(src="/img/flags/uzbek.gif")
//      img#vietnamese(src="/img/flags/vietnamese.gif")
    #specise-cont

