extends layout


block content
  != css('style-species')
  != js("libs/turn")
  != js('species')
  include navigation
  include left-column
  include right-column

  #center-column
    input#server-data.hide(type="text" ,keyKitchen=key, keySpecies = keySpecies)
    h2#title-spec

    #pop-cont
      h3 Популярные
      a.show-all.popular(href="javascript:void(0)") Показать все
      #pop-append
    #date-cont
      h3 Последние добавленные
      a.show-all.last(href="javascript:void(0)") Показать все
      #date-append

    #all-cont



  script#sortTemplate(type="text/template")
    select.select-sort
      <% if (sort=="rating") { %>
      option.pop(type="rating", selected="selected") Популярные
      option.last(type="dateAdding") Последние добавленные
      option.title(type="title") По названию
      <% } else if (sort=="dateAdding"){ %>
      option.pop(type="rating") Популярные
      option.last(type="dateAdding", selected="selected") Последние добавленные
      option.title(type="title") По названию
      <% } else if (sort=="title"){ %>
      option.pop(type="rating") Популярные
      option.last(type="dateAdding") Последние добавленные
      option.title(type="title", selected="selected") По названию
      <% } %>

