extends layout


block content
  != css('style-species')
  != js("libs/turn")
  != js('species')
  include navigation
  include left-column
  include right-column

  #center-column
    input#server-data.hide(type="text" ,keyKitchen=key, keySpecies = keySpecies)
    h2#title-spec

    #pop-cont
      h3 Популярные
      #pop-append
    #date-cont
      h3 Последние добавленные
      #date-append
    button#show-all Показать все



  script#dishBookTemplate(type="text/template")
    .peview-dish
      div <%=data.title%>
      img.title-img(src!="/img/dishes/<%=data.id_picture%>/title.jpg")
    .bookModel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title <%=data.title%>
          .modal-body
            .book
              img(src!="/img/dishes/<%=data.id_picture%>/title.jpg")
              div.ing-list
                div
                  Содержание
                  ol
                    <% _.each(data.composition, function(ing) { %> <li><%=ing.ing%> - <%=ing.col%></li> <% }); %>
              <% _.each(data.recipe, function(name) { %> <div class="page"><div><%= name %></div></div> <% }); %>
          .modal-footer
            a(href !="/kitchen/<%=key.kitchen%>/<%=key.species%>/<%=data._id%>",target="_blank")
              button.btn.btn-default Перейти на страницу блюда
            button.btn.btn-default(type='button', data-dismiss='modal') Close

