extends layout


block content
  != css('style-species')
  include navigation
  include left-column
  include right-column

  #center-column
    #img-cont
      img#arab(src="/img/flags/arab.gif")
      img#armenia(src="/img/flags/armenia.gif")
      img#azerbaijan(src="/img/flags/azerbaijan.gif")
      img#balkan(src="/img/flags/balkan.gif")
      img#baltik(src="/img/flags/baltic.gif")
      img#belarusian(src="/img/flags/belarusian.gif")
      img#british(src="/img/flags/british.gif")
      img#china(src="/img/flags/china.gif")
      img#east_european(src="/img/flags/east_european.gif")
      img#franch(src="/img/flags/franch.gif")
      img#georgia(src="/img/flags/georgia.gif")
      img#german(src="/img/flags/german.gif")
      img#greek(src="/img/flags/greek.gif")
      img#indian(src="/img/flags/indian.gif")
      img#italy(src="/img/flags/italy.gif")
      img#japan(src="/img/flags/japan.gif")
      img#jewish(src="/img/flags/jewish.gif")
      img#korean(src="/img/flags/korean.gif")
      img#latin(src="/img/flags/latin.gif")
      img#malaysian(src="/img/flags/malaysian.gif")
      img#mexican(src="/img/flags/mexican.gif")
      img#moldova(src="/img/flags/moldova.gif")
      img#russian(src="/img/flags/russian.gif")
      img#scandinavian(src="/img/flags/scandinavian.gif")
      img#spanish(src="/img/flags/spanish.gif")
      img#tatar(src="/img/flags/tatar.gif")
      img#thai(src="/img/flags/thai.gif")
      img#turkish(src="/img/flags/turkish.gif")
      img#ukrainian(src="/img/flags/ukrainian.gif")
      img#uzbek(src="/img/flags/uzbek.gif")
      img#vietnamese(src="/img/flags/vietnamese.gif")

