extends layout


block content
  != css('style-species')
  include navigation
  include left-column
  include right-column

  #center-column
    #img-cont
      div
        img#arab(src="/img/flags/arab.gif")
        div Арабская
      div
        img#armenia(src="/img/flags/armenia.gif")
        div Армянская
      div
        img#azerbaijan(src="/img/flags/azerbaijan.gif")
        div Азербайджанская
      div
        img#balkan(src="/img/flags/balkan.gif")
        div Балканская
      div
        img#baltik(src="/img/flags/baltic.gif")
        div Прибалтийская
      div
        img#belarusian(src="/img/flags/belarusian.gif")
        div Белорусская
      div
        img#british(src="/img/flags/british.gif")
        div Британская
      div
        img#china(src="/img/flags/china.gif")
        div Китайская
      div
        img#east_european(src="/img/flags/east_european.gif")
        div#vostch-evr Восточноевропейская
      div
        img#franch(src="/img/flags/franch.gif")
        div Французкая
//      img#georgia(src="/img/flags/georgia.gif")
//      img#german(src="/img/flags/german.gif")
//      img#greek(src="/img/flags/greek.gif")
//      img#indian(src="/img/flags/indian.gif")
//      img#italy(src="/img/flags/italy.gif")
//      img#japan(src="/img/flags/japan.gif")
//      img#jewish(src="/img/flags/jewish.gif")
//      img#korean(src="/img/flags/korean.gif")
//      img#latin(src="/img/flags/latin.gif")
//      img#malaysian(src="/img/flags/malaysian.gif")
//      img#mexican(src="/img/flags/mexican.gif")
//      img#moldova(src="/img/flags/moldova.gif")
//      img#russian(src="/img/flags/russian.gif")
//      img#scandinavian(src="/img/flags/scandinavian.gif")
//      img#spanish(src="/img/flags/spanish.gif")
//      img#tatar(src="/img/flags/tatar.gif")
//      img#thai(src="/img/flags/thai.gif")
//      img#turkish(src="/img/flags/turkish.gif")
//      img#ukrainian(src="/img/flags/ukrainian.gif")
//      img#uzbek(src="/img/flags/uzbek.gif")
//      img#vietnamese(src="/img/flags/vietnamese.gif")

