.showAll
  font-size: 13pt
  cursor:pointer

#center-column > div
  height: 281px;
  overflow: hidden;
  margin-top: 21px;
  border-top: 1px dashed #bbad88;

#center-column
  h2
    margin-top: 14px;
    text-align: center;
    color: #8c2b01;
    font-weight: bold;
    margin-bottom: -8px;
  h3
    margin-bottom: 23px;
    .showAll
      color: #8c2b01;
      border-radius: 26px;
      margin-left: 8px;
      &:hover 
        transition: .5s linear;
        background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
        
