.carousel-inner
  width:700px
  margin:0 auto
.carousel-ctn
  margin: 0 auto
.carousel-img
  border:2px solid
  width:350px
  height:350px !important
  display:inline-block !important

#carousel-ctn
  width:700px
  margin: 0 auto
.item
  width:700px

#center-column
  h2
    margin-top: 14px;
    text-align: center;
    color: #8c2b01;
    font-weight: bold;
  #hello-txt
    text-align: center;
    font-size: 12pt;
    margin-bottom: 8px;
    
  h3
    color: #8c2b01;
    margin-top: 28px;
    margin-bottom: 20px;
  a
    text-decoration: none
    #add-link
      color: #8c2b01;
      border-radius: 28px;
      padding: 7px 0 0 0;
      font-family: Arial;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-image: url("../img/images/menu-item.jpg");
      background-repeat: repeat;
      width: 518px;
      margin: 0 auto;
      margin-top: 22px;
      &:active
        background-image: url("../img/images/menu-item-hover.jpg") !important;
      span
        position: relative;
        top: -4px;
