.dish-book
  height:205px
  background:#E9D699;
  width: 226px;
  border: 1px dashed #bbad88;
  display:inline-block;
  margin-right: 7px;
  cursor:pointer
  position:relative;
  margin-top:5px
  .peview-dish
    position:relative
    text-align:center
    #title-dish
      position:relative;
      height:18px;
      max-width: 179px;
      max-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      color: #853008;
      margin: 0 auto
      margin-top: 4px;
      margin-bottom: 3px;
      #title-text
        position:absolute
    .title-img
      width: 175px;
      height:170px;
      border-radius:11px;
    .border-flag
      background:#F0DFA9;
      border: 2px solid #882C07;
      border-radius: 5px;
      padding: 1px;
      position: absolute;
      left: 24px;
      top: 155px;
      .flag-img
        width: 45px;
    .cont-f
      position:absolute
      top:-5px
      .cont-s
        margin-right: 31px;
        position: absolute;
        top: 2px;
        .book-view
          position: absolute;
          width: 50px;
          left: 149px;
          top: 149px;
  .bookModel
    .modal-dialog
      .modal-content
        width:645px
        background: rgba(0, 0, 0, 0.5);
        height:383px
        
        .modal-header
          padding:0px
          border-bottom: 0px
          padding-left: 15px;
          padding-top: 15px;
          padding-right: 15px;
          .zoom-clases
            color:#FFF
            background-image:linear-gradient(45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%), linear-gradient(to right, #fff, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.3)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5))
            text-shadow:none
            &:hover 
              transition: .5s linear;
              background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

            &:hover:active 
              top: 1px;
          .close
            font-size:14px
            opacity:1
            background-image:linear-gradient(45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%), linear-gradient(to right, #fff, rgba(255,255,255,0) 6%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.3)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5))
            
            
          .background-btn-close
            position: absolute;
            width: 29px;
            height: 26px;
            background: #fff;
            z-index: -1;
            top: 15px;
            opacity: 0.4;
            left: 598px;  
          .background-btn-go  
            position: absolute;
            width: 225px;
            height: 27px;
            background: #fff;
            z-index: -1;
            top: 12px;
            opacity: 0.5;   
        .modal-body
          position:relative;
          width:600px;
          height:300px;
          #backgr-book
            width: 617px;
            position: absolute;
            height: 309px;
            top: 15px;
            left: 9px;
          #info
            padding: 12px
            position: absolute;
            width: 280px;
            text-align: justify
            h4
              text-align: center;
              margin-top: 12px;
              margin-bottom: 12px;
              color: #8c2b01;
              font-weight: bold;
          .book
            #title-page
              h4
                text-align: center;
                margin-top: 12px;
                margin-bottom: 12px;
                color: #8c2b01;
                font-weight: bold;
              .img-cont-border
                border: 2px solid #b85116;
                border-radius: 5px;
                padding: 1px;
                display: inline-block;
                position: relative;
                left: 51px;
                img
                  width:200px
            div.hard
            .ing-list
              background-image: url('/img/images/left-page.jpg')
              color:black
              div
                padding: 10px
                h4
                  text-align: center;
                  margin-top: 12px;
                  margin-bottom: 12px;
                  color: #8c2b01;
                  font-weight: bold;
                ul
                  list-style:none                
            .page
              background-image: url('/img/images/left-page.jpg')
              color:black
              div
                width: 250px
                padding: 10px
                .step-page-cont
                  position: relative;
                  left: 33px;
                  top: 22px;
                  border: 2px solid #8c2b01;
                  width: 211px;
                  border-radius: 22px;
                h4
                  text-align: center;
                  margin-top: 12px;
                  margin-bottom: 0px;
                  color: #8c2b01;
                  font-weight: bold;
                div
                  text-align: justify



.carousel-inner
  width:700px
  margin:0 auto
.carousel-ctn
  margin: 0 auto
.carousel-img
  border:2px solid
  width:350px
  height:350px !important
  display:inline-block !important

#carousel-ctn
  width:700px
  margin: 0 auto
.item
  width:700px

