#img-cont
  div
    .small-cont:hover
      img
        opacity:0.7
      .del
        opacity:1
    .small-cont
      position:relative
      width:160px
      height:160px
      display:inline-block
      margin-right:10px
      input
        position:absolute
        z-index: 1;
        width: 165px;
        height: 165px;
        opacity: 0;
      img
        position:absolute
        width:160px
        height:160px
      .del
        display:none
        opacity:0
        z-index:2

