.dish-book
  height:205px
  background:#E9D699;
  width: 226px;
  border: 1px dashed #bbad88;
  float: left;
  margin-right: 7px;
  cursor:pointer
  position:relative;
  .peview-dish
    text-align:center
    #title-dish
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      color: #853008;
      margin-top: 4px;
      margin-bottom: 3px;
    .title-img
      width: 175px;
      border-radius:11px
    .border-flag
      background:#F0DFA9;
      border: 2px solid #882C07;
      border-radius: 5px;
      padding: 1px;
      position: absolute;
      left: 24px;
      top: 159px;
      .flag-img
        width: 45px;
  .bookModel
    .modal-dialog
      .modal-content
        width:645px
        background:transparent
        height:341px
        .modal-header
         border-bottom: 0px
         .background-btn   
            position: absolute;
            //width: 200px;
            //height: 27px;
            background: #FFF;
            z-index: -1;
            top: 12px;
            opacity: 0.2;      
        .modal-body
          position:relative;
          width:600px;
          height:300px;
          #backgr-book
            width: 617px;
            position: absolute;
            height: 309px;
            top: 15px;
            left: 9px;
          #info
            position: absolute;
            width: 280px;
          .book
            #title-page
              h4
                text-align: center;
                margin-top: 12px;
                margin-bottom: 12px;
                color: #8c2b01;
                font-weight: bold;
              .img-cont-border
                border: 2px solid #b85116;
                border-radius: 5px;
                padding: 1px;
                display: inline-block;
                position: relative;
                left: 51px;
                img
                  width:200px
            div.hard
            .ing-list
              background-image: url('/img/images/left-page.jpg')
              //background:#FFFFF0;
              color:black
              div
                padding: 10px
            .page
              background-image: url('/img/images/left-page.jpg')
              //background:#FFFFF0;
              color:black
              div
                width: 250px
                padding: 10px




.carousel-inner
  width:700px
  margin:0 auto
.carousel-ctn
  margin: 0 auto
.carousel-img
  border:2px solid
  width:350px
  height:350px !important
  display:inline-block !important

#carousel-ctn
  width:700px
  margin: 0 auto
.item
  width:700px

