.dish-book
  width: 226px;
  height: 200px;
  border: 1px solid #000;
  float: left;
  margin-right: 7px;
  cursor:pointer
  position:relative;
  .peview-dish
    text-align:center
    .title-img
      width: 175px;
    .flag-img
      width: 45px;
      position: absolute;
      left: 24px;
      top: 160px;
  .bookModel
    .modal-dialog
      .modal-content
        width:645px
        .modal-body
          position:relative;
          width:600px;
          height:300px;
          #info
            position: absolute;
            width: 280px;
          .book
            img
              width:270px
            .ing-list
              background:#FFFFF0;
              color:black
              div
                padding: 10px
            .page
              background:#FFFFF0;
              color:black
              div
                width: 250px
                padding: 10px

.carousel-inner
  width:700px
  margin:0 auto
.carousel-ctn
  margin: 0 auto
.carousel-img
  border:2px solid
  width:350px
  height:350px !important
  display:inline-block !important

#carousel-ctn
  width:700px
  margin: 0 auto
.item
  width:700px

