#global-header
  position:absolute
  width: 100%;
  height: 166px;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/images/top.jpg");
  background-repeat: repeat-x;
  z-index:-1

#arab-left
  margin-top:-1px

.right-bar
.main-bar
  min-height: 900px!important
.right-bar
  background: rgba(0, 0, 0, 0.5)
.main-bar
  .text-bar
  .result-bar
    min-height: 400px!important
    textarea
      max-width: 100%
      background: white!important
  .text-bar
    padding-bottom: 10px
.auth-form
  margin-top: 20px
  .auth-label
    margin-right: 10px

#nav-dish-input
  width:172px

input.parsley-error, textarea.parsley-error
  color: #B94A48 !important
  background-color: #F2DEDE !important
  border: 1px solid #EED3D7 !important

input.parsley-success, textarea.parsley-success
  color: #468847 !important
  background-color: #DFF0D8 !important
  border: 1px solid #D6E9C6 !important


.container-my
  min-width: 1250px;
  min-height: 400px;
  max-width: 1250px;
  //min-width: 980px;
  margin: 0 auto;
  margin-top:-20px

.ffx-right-header
  font-size:21px !important
  width:246px !important
  height:41px !important
  
.column-header
  width: 218px;
  height: 46px;
  float: left;
  margin: 0px;
  padding: 0px;
  font-family: Georgia;
  font-size: 22px;
  font-weight: normal;
  color: #7e8901;
  text-align:center;

btn-background-active()
  background:#C0943B !important

btn-background()
    background rgb(209,176,97)
    background -moz-linear-gradient(top, rgb(209,176,97) 7%, rgb(209,176,97) 21%, rgb(209,176,97) 27%, rgb(192,148,59) 71%, rgb(192,148,59) 99%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgb(209,176,97)), color-stop(21%,rgb(209,176,97)), color-stop(27%,rgb(209,176,97)), color-stop(71%,rgb(192,148,59)), color-stop(99%,rgb(192,148,59)))
    background -webkit-linear-gradient(top, rgb(209,176,97) 7%,rgb(209,176,97) 21%,rgb(209,176,97) 27%,rgb(192,148,59) 71%,rgb(192,148,59) 99%)
    background -o-linear-gradient(top, rgb(209,176,97) 7%,rgb(209,176,97) 21%,rgb(209,176,97) 27%,rgb(192,148,59) 71%,rgb(192,148,59) 99%)
    background -ms-linear-gradient(top, rgb(209,176,97) 7%,rgb(209,176,97) 21%,rgb(209,176,97) 27%,rgb(192,148,59) 71%,rgb(192,148,59) 99%)
    background linear-gradient(to bottom, rgb(209,176,97) 7%,rgb(209,176,97) 21%,rgb(209,176,97) 27%,rgb(192,148,59) 71%,rgb(192,148,59) 99%)


.zoom-clases
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255,255,255,0.5) 1px 1px, rgba(100,100,100,0.3) 3px 7px 3px;
  user-select: none;
  padding: 7px 12px;
  outline: none;
  border-radius: 3px/100%;
  background-image: linear-gradient(45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%), linear-gradient(to right, #fff, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.3)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(96%);
  box-shadow: rgba(0,0,0,0.5) 3px 10px 10px -10px;

#zoom-clases
  display:none;
  position:absolute;
  left: 10px
  top: 45px
  width: 198px;
  height: 38px;

#zoom-clases-species
  position:absolute;
  left: 10px
  top: 45px
  width: 198px;
  height: 38px;






#left-column
  border-right: 1px dashed #BBAD88;
  float: left;
  width: 240px;
  padding: 5px 5px 5px 0;
  display: inline-block;
  position:relative
  div#ul-cont
    padding: 1px;
    position: relative;
    z-index: 2;
    ul#ul-kitchrn
      width: 211px;
      margin-top: 35px;
      list-style: none
      li.li-kitcen
        cursor: pointer
        margin-top:10px
        a
          color:#8C2B01
          font-size: 16px;
          margin-left: 5px;
          position: relative;
          top: 1px
        .border-flag
          position:relative
          border: 2px solid #B85116;
          border-radius: 5px;
          padding: 1px;
          display:inline-block
          .circle-cont
            display:inline-block
            position: absolute;
            top: -14px;
            left: 7px;
            .circle
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 5px;
              background: #B85116;
              margin-right: 2px;
          img
            width:30px
      li.li-hover
        a
          font-size: 17px;
        .border-flag
          img
            width:31px
      .active
        color:red

#right-column
  border-left: 1px dashed #BBAD88;
  float: right;
  width: 240px;
  padding: 5px 5px 5px 0;
  height:200px
  display: inline-block;
  position:relative
  div#ul-cont-species
    padding: 1px;
    position: relative;
    z-index: 2;
    ul#ul-species
      width: 211px;
      margin-top: 35px;
      list-style: none
      .li-species
        cursor: pointer
        margin-top:10px
        a
          color:#8C2B01
          font-size: 16px;
          margin-left: 5px;
          position: relative;
          top: 1px
      li.li-hover
        a
          font-size: 18px;
#center-column
  width: 700px;
  margin: 0 auto;


body
  margin: 0px;
  padding: 0px;
  background-color: #f4e7bd !important;


#apple-img
  position: absolute;
  width: 150px;
  top: 4px;
  left: 17px;


#title-img1
  position: absolute;
  left: 185px;
  top: 32px;
  
#title-img2
  position: absolute;
  left: 190px;
  top: 18px;
  height: 78px;
  
#headerbg
  width: 100%;
  height: 166px;
  margin: 0px;
  padding: 0px;
  background-image: url(../img/images/top.jpg);
  background-repeat: repeat-x;
  margin-top:20px;
  
  #search-cont
    margin-right: 27px;
    display:inline-block
    float: right;
    margin-top:6px;
    #nav-dish-input
      border-radius:14px
      width: 188px;
      float: left;
      margin: 0px;
      padding: 2px 0 0 16px;
      font-family: Arial;
      font-size: 12px;
      color: #62562d;
      border: solid 1px #ead28b;
      height: 26px;
      margin-left: 2px;
      margin-top:5px;
      width:164px
    #search-global-btn
      cursor:pointer;
      border-radius: 28px;
      width: 79px;
      height: 34px;
      float: left;
      margin: 0px;
      padding: 7px 0 0 0;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      background-repeat: repeat;
      btn-background()
      &:hover
        btn-background-active()
        border-radius:20px


  #login-cont-button
    margin-top:-2px
    float: right;
    margin-top: 5px
    #login-button
      width:95px
    #login-user-txt
      color:#FFF
      float:left
      line-height: 33px;
      font-size: 17px;
    a
      border-radius: 28px;
      width: 160px;
      height: 34px;
      float: left;
      margin: 0px;
      padding: 7px 0 0 0;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      btn-background()
      &:hover
        btn-background-active()
        border-radius: 20px   
        
#headerblank
    width: 1004px;
    height: 166px;
    float: none;
    margin: 0 auto;
    padding: 0px;
    #header
      width: 100%;
      height: 124px;
      float: left;
      margin: 0px;
      padding: 0px;
      position:relative;
      background-repeat: no-repeat;
      div
        margin: 0 auto;
        width: 646px;
        height: 28px;
        margin-top: 91px;
        ul
          width: 100%;
          height: 33px;
          float: left;
          margin: 0px;
          padding: 0px;
          display: block;
          li
            width: 160px;
            height: 33px;
            float: left;
            margin: 0 1px 0 0;
            padding: 0px;
            display: block;
            a
              width: 160px;
              height: 34px;
              float: left;
              margin: 0px;
              padding: 7px 0 0 0;
              font-family: Arial;
              font-size: 13px;
              font-weight: bold;
              color: #FFF;
              text-align: center;
              text-decoration: none;
              background-repeat: repeat;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              btn-background()
              &:hover
                btn-background-active()
                background-repeat: repeat;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
      .login-cont-show
        width: 649px;
        height: 110px;
      .reg-cont-show
        width:365px
        height:333px
      #login-reg-blok
        padding-top:6px
        float: right;
        margin: 28px 53px 0 0;
        padding: 0px;
        background:#EFDB9E
        border: 2px solid #E3C879; 
        background-repeat: no-repeat;
        border-radius:5px
        display:none
        
        #reg-send
          width: 622px;
          height: 89px;
          float: left;
          margin: 0px;
          padding: 17px 0 0 27px;
          position:relative;
          .input-reg-li
            label
              .parsley-error-list
                display: block;
                text-align: center;
                list-style: none;
                height:2px
                position:relative
                li
                  height:2px
          #close-reg
            z-index: 2;
            text-align: center;
            width: 16px;
            height: 16px;
            position: absolute;
            color: #ab8e4e;
            border: 1px solid #ab8e4e;
            border-radius: 10px;
            line-height: 12px;
            top: -83px;
            left: 337px;
            cursor: pointer;
            &:hover
              color:#B34326
            &:hover:active 
              top: -85px;
              border: 1px solid #B34326;
        #regheading
          position:relative;
          top:-10px;
          width: 622px;
          height: 21px;
          float: left;
          margin: 0 0 8px 0;
          padding: 0px;
          font-family: Georgia;
          font-size: 20px;
          color: #000;
          h4
            width: 622px;
            height: 21px;
            float: left;
            margin: 0px;
            padding: 0px;
            font-family: Georgia;
            font-size: 20px;
            font-weight: normal;
            color: #000;
        .lable-reg
          width: 114px;
          height: 14px;
          float: left;
          margin: 0px;
          padding: 7px 0 0 0;
          font-family: Arial;
          font-size: 12px;
          color: #62562D;
        .input-reg-li
          width: 197px;
          height: 21px;
          float: left;
          margin: 0px;
          padding: 0px;
          font-family: Arial;
          font-size: 10px;
          color: #62562D;
          label
            ul
              li
                width:183px
            .input-new-sty
              width: 188px;
              float: left;
              margin: 0px;
              padding: 2px 0 0 16px;
              font-family: Arial;
              font-size: 12px;
              color: #62562d;
              border: solid 1px #ead28b;
              height: 26px;
              margin-left: 5px;
              margin-top: 2px;
        #regbutton
          width: 107px;
          height: 35px;
          margin: 0 0 0 20px;
          padding: 0px;
          margin-left: 102px;
          margin-top: 41px;
          cursor: pointer;
          a
            width: 112px;
            height: 33px;
            position: relative;
            display: inline-block;
            color: #777674;
            font-weight: bold;
            text-decoration: none;
            text-shadow: rgba(255,255,255,0.5) 1px 1px, rgba(100,100,100,0.3) 3px 7px 3px;
            user-select: none;
            padding: 7px 12px;
            outline: none;
            border-radius: 3px/100%;
            background-image: linear-gradient(45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%), linear-gradient(to right, #fff, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.3)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5));
            background-repeat: no-repeat;
            background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
            background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(96%);
            box-shadow: rgba(0,0,0,0.5) 3px 10px 10px -10px;

            &:hover 
              transition: .5s linear;
              background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

            &:hover:active 
              top: 1px;
        #logintxtblank
          width: 622px;
          height: 89px;
          float: left;
          margin: 0px;
          padding: 17px 0 0 27px;
          position:relative;
          #close-login
            text-align: center;
            width: 16px;
            height: 16px;
            position: absolute;
            color: #ab8e4e;
            border: 1px solid #ab8e4e;
            border-radius: 10px;
            line-height: 12px;
            top: -86px;
            left: 622px;
            cursor: pointer;
            &:hover
              color:#B34326
            &:hover:active 
              top: -85px;
              border: 1px solid #B34326;
          #loginheading
            width: 622px;
            height: 21px;
            float: left;
            margin: 0 0 8px 0;
            padding: 0px;
            font-family: Georgia;
            font-size: 20px;
            color: #000;
            h4
              width: 622px;
              height: 21px;
              float: left;
              margin: 0px;
              padding: 0px;
              font-family: Georgia;
              font-size: 20px;
              font-weight: normal;
              color: #000;
          #username
            width: 65px;
            height: 14px;
            float: left;
            margin: 0px;
            padding: 7px 0 0 0;
            font-family: Arial;
            font-size: 12px;
            color: #62562D;
          #input-email
            width: 197px;
            height: 21px;
            float: left;
            margin: 0px;
            padding: 0px;
            font-family: Arial;
            font-size: 10px;
            color: #62562D;
            label
              ul
                li
                  width:183px
            .input-new-sty
              width: 188px;
              float: left;
              margin: 0px;
              padding: 2px 0 0 16px;
              font-family: Arial;
              font-size: 12px;
              color: #62562d;
              border: solid 1px #ead28b;
              height: 26px;
              margin-left: 5px;
              margin-top: 2px;
          #password
            width: 52px;
            height: 14px;
            float: left;
            margin: 0px;
            padding: 7px 0 0 23px;
            font-family: Arial;
            font-size: 12px;
            color: #62562D;
            margin-left: -21px
          #input02
            label
              font-size:10px
            width: 197px;
            height: 21px;
            float: left;
            margin: 0px;
            padding: 0px;
            font-family: Arial;
            font-size: 12px;
            color: #62562D;
            margin-left: 21px;
            .input-new-sty
              width: 188px;
              float: left;
              margin: 0px;
              padding: 2px 0 0 16px;
              font-family: Arial;
              font-size: 12px;
              color: #62562d;
              border: solid 1px #ead28b;
              height: 26px;
              margin-left: 12px;
              margin-top: 2px;
          #loginbutton
            width: 50px;
            height: 23px;
            float: left;
            margin: 0 0 0 20px;
            padding: 0px;
            cursor:pointer;
            a
              width: 65px;
              height: 33px;
              position: relative;
              display: inline-block;
              color: #777674;
              font-weight: bold;
              text-decoration: none;
              text-shadow: rgba(255,255,255,0.5) 1px 1px, rgba(100,100,100,0.3) 3px 7px 3px;
              user-select: none;
              padding: 7px 12px;
              outline: none;
              border-radius: 3px/100%;
              background-image: linear-gradient(45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.8), rgba(255,255,255,0) 70%), linear-gradient(to right, #fff, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.3)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #7d7d7d, rgba(255,255,255,0.9) 45%, rgba(125,125,125,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5)), linear-gradient(to right, #dfbeaa, rgba(255,255,255,0.9) 45%, rgba(223,190,170,0.5));
              background-repeat: no-repeat;
              background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
              background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(96%);
              box-shadow: rgba(0,0,0,0.5) 3px 10px 10px -10px;

              &:hover 
                transition: .5s linear;
                background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

              &:hover:active 
                top: 1px;
          #member
            width: 135px;
            height: 14px;
            float: left;
            margin: 17px 0 0 0;
            padding: 0px;
            font-family: Arial;
            font-size: 13px;
            color: #ab8e4e;
          #register
            cursor:pointer;
            width: 200px;
            height: 14px;
            float: left;
            margin: 17px 0 0 0;
            padding: 0px;
            font-family: Arial;
            font-size: 13px;
            color: #943415;
            .register
              font-family: Arial;
              font-size: 13px;
              color: #943415;
              text-decoration: none;


.active-menu-item
  btn-background-active()
  border-top-left-radius: 5px
  border-top-right-radius: 5px
    
