#footer-cont
  margin:0 auto
  margin-top:70px
  height:100px
  background-image:url(../img/images/footerbg.jpg)
  #link-cont
    text-align: center;
    position: relative;
    top: 75px;
    a
      color: #F4E7BD
  #mail-logo
    display: inline-block;
    float: right;
    margin-top: 67px;
