#dish-container
  #dish-title
    margin-top: 14px;
    text-align: center;
    color: #8c2b01;
    font-weight: bold;
    margin-bottom: 0px;
  #dish-body
    overflow:hidden
    #header-dish-cont
      min-height: 326px;
      #dish-ing
        display:inline-block;
        width: 300px;
        min-height: 320px;
        border-radius: 12px;
        border: 1px dashed #8C2B01;
        h4
          text-align: center;
          color: #8C2B01;
        ol
          li:first-letter
            text-transform: uppercase
      #dish-img-title
        float: right
        display:inline-block
        margin-left: 60px
        margin-bottom:20px
        img
          border-radius: 12px;
          width:330px;
          height:325px

    #title-begin-recept
      text-align: center;
      color: #8A2A01;
    h4
      color: #8A2A01;
    .hr
      width: 100%;
      height: 2px;
      border: 1px dashed #8c2b01;
      margin-top: 10px;
      margin-bottom: 20px;
      
      
  #block-footer
    #comment-block
      .comment-item
        padding: 8px;
        background: #efdb9e;
        border: 2px solid #e3c879;
        background-repeat: no-repeat;
        border-radius: 5px;
        color: #000;
        margin-bottom:10px
        min-height:100px
        border:1px solid black
        .user-info
          border-bottom: 1px dashed #bbad88;
          display: block;
          height: 23px;
          div
            display:inline-block
        .message-user
            word-break: break-word;
            display: inline-block;
            width: 100%;
            min-height: 60px;
            margin-left: 0px;
            margin-top:4px
            img
              width:30px
    #comment-send
      padding: 0px;
      background: #efdb9e;
      border: 2px solid #e3c879;
      background-repeat: no-repeat;
      border-radius: 5px;
      color: #000;
      h3
        margin-top: 8px;
        margin-bottom: -10px;
        text-align: center;
        color: #8a2a01;
        max-width:94%;
      #message
        padding:4px
        background: rgba(239,208,115,0.5);
        width: 94%;
        max-width: 94%;
        margin-top: 20px;
        margin-left: 19px;
        border-radius: 9px;
        height:75px;
      #smile-cont
        display:inline-block
        margin-left:12px
        width: 400px;
        text-align:center;
        margin-top: 3px;
        .pic-smile
          cursor:pointer
      #send-message
        display:inline-block
        cursor:pointer
        text-decoration: none;
        width: 146px;
        text-align: center;
        margin-left: 114px;
        &:hover 
          transition: .5s linear;
          background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

    #coment-title
      text-align: center;
      color: rgb(138, 42, 1);
    #info-noreg-cont
      padding: 0px;
      background: #efdb9e;
      border: 2px solid #e3c879;
      background-repeat: no-repeat;
      border-radius: 5px;
      color: #66250a;
      text-align: center;
      margin: 0 auto;
      margin-top: 12px;
      height: 84px;
      a
        color: #66250a;
        cursor:pointer
        text-decoration:none
        &:hover 
          transition: .5s linear;
          background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px); 
     #login-footer
       margin-right: 60px
       padding-left: 62px;
       padding-right: 62px;

