
#pm-container
  border:1px solid black
  width:700px
  margin:0 auto
  padding: 5px
  #pm-header
    select
      width:160px
      margin-left:20px
    #pm-species
       margin-top: 5px
       text-align: center
      input
        margin-left:10px
  #pm-body
    margin-top:10px
    div
      display:inline-block
    #pm-ing-container
      min-height:147px
      float:left
      width: 222px
      border: 1px solid black
      overflow-y: scroll
      max-height: 147px
      h4
        text-align:center
      #pm-ing-ul
        margin-left: -10px
        li
          .del-ing
            float:right
            display:inline-block
            width: 15px
            border: 1px solid
            height: 15px
            text-align: center
            line-height: 12px
            border-radius: 10px
            margin-right:10px
          .del-ing:hover
            background:red
            cursor:pointer
    #pm-ing-input-cont
      *
        margin-left:5px
    #pm-more-options
      margin-top:5px
      margin-left:5px
      padding:5px
      border: 1px solid black
      width:460px
      min-height: 116px
      input
        width:75px
  #start-search-btn
    width:687px
        

