#dish-container
  #dish-title
    text-align:center
  #dish-body
    overflow:hidden
    #dish-ing
      width: 300px;
      min-height: 320px;
    div
      float:left
      border:1px solid black
    #dish-img-title
      margin-left: 60px
      margin-bottom:20px
      img
        width:330px
    #dish-recept  
      tr
        border: 1px solid black
        .number
          border:1px solid black
      
  #block-footer
    .comment-item
      margin-bottom:10px
      height:100px
      border:1px solid black
      .user-info
        display:inline-block
        border-right:1px solid black
        width: 140px
        height:95px
        float: left
      .message-user
        display:inline-block
        width:500px
        height:100px
        margin-left:20px
        border-left:1px solid black
      
