#pm-ing-container
  width:160px
  height:300px
  border:1px black solid 
  display:inline-block
  float:right
  div
    display:none
    ol
      margin-left: -10px
      li
        .del-ing
          float:right
          display:inline-block
          width: 15px
          border: 1px solid
          height: 15px
          text-align: center
          line-height: 12px
          border-radius: 10px
          margin-right:10px
        .del-ing:hover
          background:red
          cursor:pointer
#pm-container
  float:left
  width:182px
  height:300px
  border:1px solid black
  
#cooler-container
  position:relative
  width: 348px;
  height: 389px;
  display:inline-block
  #holodilnik
    position:absolute
    width: 346px
    z-index:0
  .polki
    position:absolute
    z-index:2
  #sodergimoe
    width: 346px;
    height: 389px;
    *
      position:absolute
    div
      display:inline-block
      z-index:11
    .cooler-companent
      opacity:0
    #gribi
      z-index:5
      width: 71px;
      left: 169px;
      top: 26px;
    #dobavki
      width: 290px;
      left: 22px;
      top: 43px;
    #maso
      width: 145px;
      left: 93px;
      top: 181px;
    #krupa_oreh
      width: 228px;
      left: 95px;
      top: 47px;
    #ovochi
      width: 225px;
      left: 91px;
      top: 158px;
    #frukti
      width: 149px;
      left: 90px;
      top: 96px;
    #moreprodukti
      width: 76px;
      left: 165px;
      top: 85px;
    #molochnie
      width: 215px;
      top: 192px;
      left: 25px;
    #muchnie
      width: 62px;
      left: 92px;
      top: 120px;
