.right-bar
.main-bar
  min-height: 900px!important
.right-bar
  background: rgba(0, 0, 0, 0.5)
.main-bar
  .text-bar
  .result-bar
    min-height: 400px!important
    textarea
      max-width: 100%
      background: white!important
  .text-bar
    padding-bottom: 10px
.auth-form
  margin-top: 20px
  .auth-label
    margin-right: 10px

#nav-dish-input
  width:172px

input.parsley-error, textarea.parsley-error
  color: #B94A48 !important
  background-color: #F2DEDE !important
  border: 1px solid #EED3D7 !important

input.parsley-success, textarea.parsley-success
  color: #468847 !important
  background-color: #DFF0D8 !important
  border: 1px solid #D6E9C6 !important


.container-my
  min-width: 1250px;
  max-width: 1250px;
  //min-width: 980px;
  margin: 0 auto;
  margin-top:-20px


#left-column
  float: left;
  width: 240px;
  padding: 5px 5px 5px 0;
  border:1px solid
  display: inline-block;
  ul
    .active
      color:red

#right-column
  float: right;
  width: 240px;
  padding: 5px 5px 5px 0;
  height:200px
  border:1px solid
  display: inline-block;
  ul
    .active
      color:red

#center-column
  width: 700px;
  margin: 0 auto;


body
  margin: 0px;
  padding: 0px;
  background-color: #f4e7bd !important;


#headerbg
  width: 100%;
  height: 309px;
  float: left;
  margin: 0px;
  padding: 0px;
  background-image: url(../img/images/headerbg.jpg);
  background-repeat: repeat-x;
  #headerblank
    width: 1004px;
    height: 309px;
    float: none;
    margin: 0 auto;
    padding: 0px;
    #header
      width: 100%;
      height: 309px;
      float: left;
      margin: 0px;
      padding: 0px;
      position:relative;
      background-repeat: no-repeat;
      div
        margin: 0 auto;
        width: 646px;
        height: 28px;
        margin-top: 128px;
        ul
          width: 100%;
          height: 33px;
          float: left;
          margin: 0px;
          padding: 0px;
          display: block;
          li
            width: 160px;
            height: 33px;
            float: left;
            margin: 0 1px 0 0;
            padding: 0px;
            display: block;
            a
              width: 160px;
              height: 34px;
              float: left;
              margin: 0px;
              padding: 7px 0 0 0;
              font-family: Arial;
              font-size: 13px;
              font-weight: bold;
              color: #FFF;
              text-align: center;
              text-decoration: none;
              background-image: url(../img/images/menu-item.jpg);
              background-repeat: repeat;
              &:hover
                background-image: url(../img/images/menu-item-hover.jpg) !important
                background-repeat: repeat;
                
.active-menu-item
  background-image: url(../img/images/menu-item-hover.jpg) !important
  background-repeat: repeat

    
