.dish-book
  width: 223px;
  height: 200px;
  border: 1px solid black;
  display: inline-table;
  margin-right: 7px;
  cursor: pointer;
  .peview-dish
    text-align:center
    .title-img
      width: 175px
      height: 165px
  .bookModel
    .modal-dialog
      .modal-content
        width:645px
        .modal-body
          width:600px;
          height:300px;
          .book
            img
              width:270px
            .ing-list
              background:#333;
              color:#FFF
              div
                padding: 10px
            .page
              background:#333;
              color:#FFF
              div
                width: 250px
                padding: 10px


.showAll
  font-size: 13pt
  cursor:pointer

#center-column > div
  height: 262px;
  overflow: hidden;

