#center-column
  width:712px
  h2
    margin-top: 14px;
    text-align: center;
    color: #8c2b01;
    font-weight: bold;
  #pm-dish-ing
    border-radius: 14px;
    float: left;
    margin: 0px;
    padding: 0px 0 0 16px;
    font-family: Arial;
    font-size: 18px;
    color: #62562d;
    border: solid 1px #ead28b;
    height: 36px;
    margin-left: 2px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 12px;
    outline-color: transparent;
  #pm-ing-container
    width: 171px;
    min-height: 300px;
    border: 1px #000 solid;
    display: inline-block;
    float: right;
    border-radius: 8px;
    h4
      text-align: center;
      color: #8c2b01;
      font-weight: bold;
    .red-color
      color:red
    .ob-cont-ing
      display:none
      ol
        list-style:none
        margin-left: -35px
        li
          .del-ing
            background: #ed5565;
            color: #fff;
            float: left;
            display: inline-block;
            width: 15px;
            border: 1px solid;
            height: 15px;
            text-align: center;
            line-height: 12px;
            border-radius: 10px;
            margin-right: 10px;
            margin-top: 3px;
          .del-ing:hover
            background:red
            cursor:pointer
          span:first-letter
            text-transform:capitalize
      .category-name
        text-align: center;
        color: #8c2b01;
  #pm-container
    display: inline-block;
    width: 192px;
    min-height: 300px;
    border: 1px solid #000;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    #pm-more-options
      div 
      .ind-col
        width:30px; 
        height:20px;
        background:#ED5565;
        display:inline-block
        color:#FFF;
        border-radius: 9px;
        position:relative;
        top:-12px
      .input-col
        width:120px;
        margin:0 auto;
        display:inline-block;
        position:relative; 
        position:relative; 
        top:-15px;
    div
      div
        .irs-with-grid
          height: 33px;
          .irs-grid
            display:none
    #pm-species
      text-align:center
      height:131px
      margin-bottom:12px
      div
        margin-top:2px
        display:inline-block
      input
        position:relative
        top:2px
    .pm-header
      margin-top: -11px;
      color: rgb(140, 43, 1);
      text-align:center;
      width: 100%;
    #cost
      margin-top: 1px;
      background: none repeat scroll 0 0 #e5d08c;
      border: 1px solid #000;
      color: #000;
      font-size: 14px;
      margin-left:48px;
      margin-bottom: 6px;
    .no-checked
      height: 24px;
      background: #F2E1A9;
      border-radius: 14px;
      text-align: center;
      line-height: 24px;
      color: gray;
      cursor: pointer;
      border: 1px solid;
      &:hover
        border: 1px solid black
    .checked
      color: black;
      border: 1px solid black;
      background: #ECDBA1;
    #filter-kitchen
      height:50px
      text-align:center
      color: #8c2b01;
      #selectKitchen
        margin-top:1px
        background: none repeat scroll 0 0 #e5d08c;
        border: 1px solid #000;
        color: #000;
        font-size: 14px;
    h4
      text-align: center;
      color: #8c2b01;
      font-weight: bold;
    .block-end
      border-bottom: 1px dashed #bbad88;
    
    
  #cooler-container
    float:right
    position:relative
    width: 348px;
    height: 389px;
    display:inline-block
    #holodilnik
      position:absolute
      width: 346px
      z-index:0
    .polki
      position:absolute
      z-index:4
    #p-left-niz
      width: 59px;
      top: 87px;
      left: 19px;
    #p-left-2
      top: 308px;
      width: 60px;
      left: 21px;  
    #p-left-1
      top: 237px;
      width: 57px;
      left: 20px;
    #p-right-1
      left: 258px;
      width: 70px;
      top: 93px;
    #p-right-2
      left: 246px;
      width: 75px;
      top: 182px;
    #p-right-3
      left: 248px;
      top: 242px;
      width: 73px;
    #p-right-4  
      left: 255px;
      top: 314px;
      width: 69px;  
    #p-right-top
      width: 57px;
      left: 94px;
      top: 25px;
    #sodergimoe
      width: 346px;
      height: 389px;
      *
        position:absolute
      .cooler-companent
        display:none
        opacity:0
      .cooler-companent-fon
        opacity:0
      #arbuz
        width: 63px;
        top: 290px;
        left: 92px;
        z-index:3
      #arbuz-fon
        width: 85px;
        top: 279px;
        left: 81px;
        z-index: 2;

      #bootilka-tetropack
        z-index: 3;
        width: 63px;
        left: 14px;
        top: 40px;
      #bootilka-tetropack-fon
        z-index: 2;
        width: 63px;
        left: 15px;
        top: 35px;

      #bootilka-yellow
        width: 30px;
        top: 272px;
        left: 29px;
        z-index:3
      #bootilka-yellow-fon
        width: 34px;
        top: 272px;
        left: 27px;
        z-index: 2;
        height: 46px;

      #dinya
        top: 97px;
        width: 60px;
        left: 92px;
        z-index:3
      #dinya-fon
        width: 85px;
        left: 81px;
        top: 87px;
        z-index: 2;

      #gribi
        width: 67px;
        left: 169px;
        top: 28px;
        z-index:3
      #gribi-fon
        width: 77px;
        left: 162px;
        top: 20px;
        z-index: 2;

      #hleb
        width: 60px;
        left: 94px;
        top: 122px;
        z-index:3
      #hleb-fon
        width: 73px;
        left: 85px;
        top: 111px;
        z-index: 2;
        
      #ikra
        width: 68px;
        left: 169px;
        top: 84px;
        z-index:3
      #ikra-fon
        width: 84px;
        left: 161px;
        top: 77px;
        z-index: 2;
        
      #klubnuka
        width: 67px;
        left: 170px;
        top: 124px;
        z-index:3
      #klubnuka-fon
        width: 93px;
        left: 159px;
        top: 111px;
        z-index:2
      #krupa
        width: 61px;
        left: 259px;
        top: 64px;
        z-index:3
      #krupa-fon
        width: 74px;
        left: 254px;
        top: 55px;
        z-index: 2;
      #kurica
        width: 71px;
        left: 166px;
        top: 245px;
        z-index:3
      #kurica-fon
        width: 94px;
        left: 156px;
        top: 235px;
        z-index: 2;
      #maso
        width: 55px;
        left: 92px;
        top: 182px;
        z-index:3
      #maso_fon
        width: 75px;
        left: 81px;
        top: 173px;
        z-index:2
      #oreh
        width: 57px;
        left: 95px;
        top: 50px;
        z-index:3
      #oreh-fon
        width: 74px;
        left: 87px;
        top: 45px;
        z-index: 2;
      #padsolnuh
        left: 254px;
        top: 205px;
        width: 61px;
        z-index: 3;
      #padsolnuh-fon
        left: 252px;
        top: 205px;
        width: 67px;
        z-index: 2;
        height: 59px;
      #ribi
        top: 290px;
        width: 70px;
        left: 167px;
        z-index: 3;
      #ribi-fon
        top: 283px;
        width: 84px;
        left: 159px;
        z-index: 2;
      #tetropak
        left: 256px;
        width: 62px;
        top: 277px;
        z-index: 3;
      #tetropak-fon
        left: 254px;
        width: 70px;
        top: 276px;
        z-index: 2;
        height: 59px;
      #tikva
        width: 65px;
        top: 219px;
        left: 89px;
        z-index: 3;
      #tikva-fon
        width: 73px;
        top: 216px;
        left: 83px;
        z-index: 2;
      #yaica    
        top: 232px;
        width: 45px;
        left: 25px;
        z-index: 3;
      #yaica-fon    
        top: 220px;
        width: 68px;
        left: 18px;
        z-index: 2;
      #zelen
        width: 61px;
        left: 256px;
        top: 160px;
        z-index: 3;
      #zelen-fon
        width: 78px;
        left: 248px;
        top: 152px;
        z-index: 2;
  //    #gribi
  //      z-index:5
  //      width: 71px;
  //      left: 169px;
  //      top: 26px;
  //    #dobavki
  //      width: 290px;
  //      left: 22px;
  //      top: 43px;
  //    #maso
  //      width: 145px;
  //      left: 93px;
  //      top: 181px;
  //    #krupa_oreh
  //      width: 228px;
  //      left: 95px;
  //      top: 47px;
  //    #ovochi
  //      width: 225px;
  //      left: 91px;
  //      top: 158px;
  //    #frukti
  //      width: 149px;
  //      left: 90px;
  //      top: 96px;
  //    #moreprodukti
  //      width: 76px;
  //      left: 165px;
  //      top: 85px;
  //    #molochnie
  //      width: 215px;
  //      top: 192px;
  //      left: 25px;
  //    #muchnie
  //      width: 62px;
  //      left: 92px;
  //      top: 120px;
